[general]
status_path = "%s"

[pair my_calendars]
a = "birthday_local"
b = "birthday_remote"
collections = ["from a", "from b"]
metadata = ["color"]

[storage birthday_local]
type = "filesystem"
path = "%s"
fileext = ".ics"

[storage birthday_remote]
type = "caldav"
url = "%s"
username = "%s"
password = "%s"
